:root {
    --nord-0: #2e3440;
    --nord-1: #3b4252;
    --nord-2: #434c5e;
    --nord-3: #4c566a;
    --nord-4: #d8dee9;
    --nord-5: #e5e9f0;
    --nord-6: #eceff4;
    --nord-7: #8fbcbb;
    --nord-8: #88c0d0;
    --nord-9: #81a1c1;
    --nord-10: #5e81ac;
    --nord-11: #bf616a;
    --nord-12: #d08770;
}

.bg-nord-0 {
    background-color: var(--nord-0);
}
.bg-nord-1 {
    background-color: var(--nord-1);
}
.bg-nord-2 {
    background-color: var(--nord-2);
}

.text-nord-3 {
    color: var(--nord-3);
}
.text-nord-4 {
    color: var(--nord-4);
}
.text-nord-5 {
    color: var(--nord-5);
}
.text-nord-6 {
    color: var(--nord-6);
}
.text-nord-7 {
    color: var(--nord-7);
}
.text-nord-12 {
    color: var(--nord-12);
}

a {
    color: var(--nord-12)   ;
}